// COLOR VAR
$dark: #212427;
$bgColor: #e8e8e8;
$light: #cccccc;
$neutral: #999;
$grey: #28282b;
$black: #000;
$pink: #ff7d7d;

// FONTS VAR
$fontAntonio: "Antonio", sans-serif;
$fontCircular: "Circular Std", sans-serif;
$fontKanit: "Kanit", sans-serif;
$fontKanitMono: "Kanit", monospace;
$fontNoto: "Noto Serif SC", serif;
$fontOver: "Overpass", sans-serif;
